{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
  <div class="overlay-container p-4 mb-4">
    <div class="row">
      <div class="col-md-4">
        {% if book.image %}
          <img 
            src="{{ book.image.url }}" 
            alt="Book Cover" 
            class="img-fluid mb-3"
          >
        {% else %}
          <img 
            src="{% static 'images/no_cover.png' %}" 
            alt="No Cover" 
            class="img-fluid mb-3"
          >
        {% endif %}
      </div>
      <div class="col-md-8">
        <h2>{{ book.title }}</h2>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p>{{ book.description }}</p>

        {% if book.full_text %}
          <a href="{% url 'read_book' book.pk %}" class="btn btn-success mt-2">
            Read Full Text
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
