{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <h2>{{ category.name }}</h2>
  
  {% if category.image %}
    <div style="max-width: 400px;">
        <img 
          src="{{ category.image.url }}" 
          alt="{{ category.name }}" 
          class="img-fluid mb-3"
        >
      </div>
  {% endif %}
  
  <p>{{ category.description }}</p>
  <hr>

  <!-- List of Books in this Category -->
  <div class="row">
    {% for book in books_in_category %}
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="card">
          {% if book.image %}
            <!-- Use the Book's image, not the category's -->
            <img src="{{ book.image.url }}" alt="Book Cover" class="card-img-top">
          {% else %}
            <img src="{% static 'images/no_cover.png' %}" alt="No Cover" class="card-img-top">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">{{ book.author }}</p>
            <a href="{% url 'book_detail' book.pk %}" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}





