{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-4" style="min-height:100vh;">
  <div class="row home-row">
    <div class="col-12 col-md-10 offset-md-1 overlay-container">
      <h1 class="mb-4">Categories</h1>
      <div class="row">
        {% for c in categories %}
        <div class="col-sm-6 col-md-4 mb-3">
          <div class="card shadow-sm category-card" style="overflow: hidden;">
            
            {% if c.image_path %}
            <img 
              src="{% static 'images/' %}{{ c.image_path }}" 
              class="card-img-top category-image" 
              alt="{{ c.name }}">
          {% else %}
            <img 
              src="{% static 'images/no_cover.png' %}" 
              class="card-img-top category-image" 
              alt="{{ c.name }}">
          {% endif %}

            <div class="card-body">
              <h5 class="card-title">{{ c.name }}</h5>
              <p class="card-text">{{ c.description }}</p>
              <a href="{% url 'category_detail' c.pk %}" 
                 class="btn btn-primary">
                Explore
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
  const images = document.querySelectorAll('.category-image');
  images.forEach((img) => {
    
    img.addEventListener('mouseover', () => {
      img.style.transform = 'scale(1.1)';
      img.style.transition = 'transform 0.3s ease';
    });
    
    img.addEventListener('mouseout', () => {
      img.style.transform = 'scale(1)';
    });
  });
});
</script>
{% endblock %}
